/* MAIN PAGE  */

* {
    margin: 0px;
    padding: 0px;
    height: 390 vh;
    width: 844 vh;
}

.main-container {
    position: relative;
    height: 844px;
    width: 390px;
   
   }

   .main-image {
    position: absolute;
   }

.girlHeadphones {
    width: 390px;
    margin: auto;
  }


.main-block {
    position: absolute;
    /* margin-bottom: -200px; */
    background-color: #171B3E;
    /* margin: auto; */
    margin-top: 405px;
    height: 440px;
    width: 390px;
    border-radius: 15%;
}

.main-text-header {
    font-family: montserrat;
    font-size: 1.9em;
    font-weight: bold;
    color: #EFF0F2;
    text-align: center;
    margin: 0 50px 0 50px;
}

.main-text-subtheader {
    font-family: montserrat;
    font-size: 1.3em;
    font-weight: bold;
    color: #EFF0F2;
    text-align: center;
    margin: 0px 20px 0 20px;
}

.main-bar-login {

    position: absolute;
    background-color: #E4E1DE;
    margin: 670px 20px 0 20px;
    height: 59px;
    width: 350px;
    border-radius: 30px 30px 30px 30px;

}

.main-text-login-bar {
    font-family: montserrat;
    font-size: 1.3em;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 16px 50px 0 50px;
}

.main-text-logo {
    font-family: montserrat;
    font-size: 4.0em;
    font-weight: bold;
    color: #EFF0F2;
    text-align: center;
    margin: 90px 50px 0 50px;
}
