<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="login-container">

        <div class="login-block-blue">
            <p class="login-text-header">Welcome</p>

            <form action="/login" method="POST">
                <div class="login-block-white">

                    <p class="login-text-name-2">Email</p>
                    <input class="login-bar-2" name="email" type="email" required></input>

                    <p class="login-text-name-3">Password</p>
                    <input class="login-bar-3" name="password" type="password" required></input>

                    <button type="submit" class="login-bar-main">Login</button>
            </form>

            <div class="login-line"></div>
            <div class="login-or-box">OR</div>
            <div class="social-links-login">
                <a href="/auth/facebook" role="button"><img class="social fb" src="images/facebook.png"></a>
                <a href="/auth/twitter" role="button"><img class="social twitter" src="images/twitter.png"></a>
                <a href="/auth/instagram" role="button"><img class="social insta" src="images/instagram.png"></a>

            </div>
        </div>

        <script src="" async defer></script>
</body>

</html>