<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="signup-container">

        <div class="signup-block-blue">
            <p class="signup-text-header">Welcome</p>

            <form action="/signup" method="POST">
                <div class="signup-block-white">
                    <br>

                    <p class="signup-text-name-1">Name</p>
                    <input class="signup-bar-1" name="username" type="text" placeholder="" required></input>

                    <p class="signup-text-name-2">Email</p>
                    <input type="email" name="email" class="signup-bar-2" required></input>

                    <p class="signup-text-name-3">Password</p>
                    <input type="password" name="password" class="signup-bar-3" required></input>

                    <button type="submit" class="signup-bar-main">Sign Up</button>
            </form>
            <div class="signup-line"></div>
            <div class="signup-or-box">OR</div>
            <div class="social-links-signup">
                <a href="/auth/facebook" role="button"><img class="social fb" src="images/facebook.png"></a>
                <a href="/auth/twitter" role="button"><img class="social twitter" src="images/twitter.png"></a>
                <a href="/auth/instagram" role="button"><img class="social insta" src="images/instagram.png"></a>
            </div>
            <p class="signup-already-user">Already a User? <a href="/login">LOGIN</a></p>
        </div>
    </div>
    </div>

    <script src="" async defer></script>
</body>

</html>