<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="verified-container">
        <div class="verified-image">
            <img class="girlPhone" src="images/girl-phone.png">
        </div>
        <div class="verified-block">
            <br>
            <br>
            <br>
            <br>
            <p class="verified-text-header"> Verification Email Sent! </p>

            <br>
            <p class="verified-text-subheader"> You're almost there! Please check </p>
            <p class="verified-text-subheader"> your email inbox and follow the </p>
            <p class="verified-text-subheader"> instructions. </p>
           
                <div class="verified-bar">
                    <a href="/user-start"><button role="button" class="verified-bar-ok">Ok!</button></a>
                </div>
                <div class="verified-bar">
                    <button role="button" class="verified-bar-resend">Resend to Your Email</button>
                </div>
            
            <div class="verified-logo">
                <p class="verified-text-logo">9TS</p>
            </div>
        </div>

    </div>

    <script src="" async defer></script>
</body>

</html>