<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="welcome-back-container">
        <div class="welcome-back-image">
            <img class="girlHeadphones2" src="images/couple-smiling.png">
        </div>
        <div class="welcome-back-block">
            <br>
            <br>
            <p class="welcome-back-text-header"> Listen to Your </p>
            <p class="welcome-back-text-header"> Throwbacks, </p>
            <p class="welcome-back-text-header"> All Day .. Everyday </p>
            <br>
            <p class="welcome-back-text-subheader"> All the music you grew up with, </p>
            <p class="welcome-back-text-subheader"> and the memories you made. </p>
            <p class="welcome-back-text-subheader"> Now you have them in 1 place. </p>
            <div class="welcome-back-logo">
                <p class="welcome-back-logo">9TS</p>
            </div>
        </div>
        <div class="welcome-back-bar-login">
            <a href="/login" role="button"><button type="submit" class="welcome-back-text-login-bar">
                    Tap to Start Login</button></a>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>